body{
    background-color: black;
    color: #e4e4e7;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

.container{
    margin: -2px auto;
    width: 1120;
    padding: 10px 0;
    background-color: #1D1D20;
    border-left: 1px solid #313135;
    border-right: 1px solid #313135;
}

.container > * {
    margin-left: 3rem;
    margin-right: 3rem;
}

/* nav bars */
.nav-main{
    background-color: #252529;
    border: 1px solid #3B3B40;
    width: 20rem;
    margin: 2rem auto;
    border-radius: 25px;
}

nav > ul{
    display: flex;
    list-style-type: none;
    padding: 0 0.5rem;
    margin: 10px 0;
}

nav > ul > li{
    flex: 1 1 0;
    text-align: center;
}

.footer-nav > ul > li{
    text-align: left;
}

.vertical-nav > ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 0.5rem;
    margin: 10px;
}

.vertical-nav > ul > li{
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* anchor tags */
a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}

a:hover{
    color: #14b8a6;
}

a:active{
    color: 109384;
}
/* ----------- */

.footer-padding{
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    border-top: 1px solid #313135;
    border-bottom: 1px solid #313135;
}

.footer-grid{
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
}

.footer-name{
    grid-column-start: -2;
    display: flex;
    align-items: center;
    color: #858585;
}

.footer-margin{
    height: 8rem;
}

.profile-picture{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.profile-picture-sec{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.profile-picture-border{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #252529;
    border: 1px solid #3B3B40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text{
    max-width: 42rem;
}

.header-text > *{
    margin-top: 1.5rem;
}

h1{
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.text-base{
    line-height: 1.75rem;
    font-size: 1rem;
    color: #a1a1aa;
}

.icons{
    display: flex;
    justify-content: flex-start;
}

.icons > a{
    margin-right: 3rem;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.grid-3 > div{
    display: flex;
    align-items: center;
}

.table-contents{
    border: 1px solid #3B3B40;
    border-radius: 1rem;
    max-width: 42rem;
}

/* TODO:
container breakpoint for less than 1120 (shrink) */

@media(max-width:1200px){
    .container{
        margin: -2px auto;
        width: 100%;
    }
    .nav-main{
        display: none;
    }

    .footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .footer-name{
        grid-row-start: -2;
        display: flex;
        justify-content: center;
        color: #858585;
    }

    .footer-nav > ul > li{
        text-align: center;
    }
}